@import "colors";
$base-margin: 12px;

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.hidden {
  display: none;

  @media (min-width: 600px) {
    display: initial;;
  }
}

.expanded {
  position: fixed;
  transform: translateX(0);
  width: 100%;
  height: 100%;
}

body {
  &, html {
    background-color: $primary-color;
    margin: 0;
    height: 100%;
  }

  nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $accent-color;
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    #hamburger {
      margin: $base-margin;
      font-size: 3em;

      &:hover, &:active {
        color: $primary-color;
      }

      @media (min-width: 600px) {
        display: none;
      }
    }

    #menu {
      width: 100%;
      flex-grow: 1;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover, &:hover > a {
          &, & a {
            background-color: white;
            color: $primary-color;
          }
        }
      }

      a {
        text-align: center;
        width: 100%;
        font-size: 3em;
        text-decoration: none;
      }

      @media (min-width: 600px) {
        display: flex;
        flex-flow: row;

        li {
          padding: 7px;
        }
      }

      @media (min-width: 1000px) {
        justify-content: center;
      }
    }

    &.expanded {
      @media (min-width: 600px) {
        height: auto;
      }
    }

    @media (min-width: 1000px) {
      &.expanded, & {
        width: 1000px !important;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  main {
    article {
      padding: 100px+$base-margin*4 $base-margin*2 $base-margin*2 $base-margin*2;

      &:nth-of-type(2n+1) {
        text-align: right;
      }

      header {
        h1 {
          color: $accent-color;
          margin: 0;
          font-size: 3em;
          line-height: 0;
        }
      }

      img {
        display: none;
        max-height: 500px;
        max-width: 500px;

        @media (min-width: 600px) {
          display: initial;
        }
      }
    }

    @media (min-width: 1000px) {
      width: 1000px;
    }
  }

  @media (min-width: 1000px) {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}