* {
    box-sizing: border-box;
    font-family: monospace;
}

body, html {
    margin: 0;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main > section {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form {
    margin: 8px;
}

#gallery > img {
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 1px solid black;
}

input[type="checkbox"] {
    vertical-align: middle;
}
