* {
    box-sizing: border-box;
    font-family: monospace;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main > section {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

figure {
    min-height: 500px;
    min-width: 500px;
    max-height: 500px;
    max-width: 500px;
}

canvas, figure {
    margin: 24px;
    border: 1px solid black;
}

figure > img {
    height: 100%;
    width: 100%;
}

form {
    margin: 8px;
}

#gallery > img {
    width: 100px;
    border: 1px solid black;
}

input[type="checkbox"] {
    vertical-align: middle;
}
